/*Login Form*/

.login_form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../static/image/loging_bg.png);
    background-size: cover;
    background-position: center;
}

.login_form .left img {
    width: 650px;
}

.login_form .right {
    position: relative;
    top: -50px;
    left: -60px;
    padding: 50px 80px;
}

.login_form .right h1 {
    font-family: prevattscriptssk;
    font-size: 45px;
    margin-bottom: 40px;
}

.login_form .right p {
    margin-bottom: 5px;
}

.login_form .right .user {
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
}

.login_form .right .user i {
    position: relative;
    top: 9px;
    left: 15px;
    color: #c72092;
}

.login_form .right .user .username {
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    font-size: 15px;
}

.login_form .right .user .useremail {
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    font-size: 15px;
}

.login_form .right .passworg_tag {
    margin: 15px 0 5px 0;
}

.login_form .right .password {
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
}

.login_form .right .password i {
    position: relative;
    top: 9px;
    left: 15px;
    color: #c72092;
}

.login_form .right .password input {
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    font-size: 15px;
}

.login_form .right .confirm_password_tag {
    margin: 15px 0 5px 0;
}

.login_form .right .confirm_password {
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
}

.login_form .right .confirm_password i {
    position: relative;
    top: 9px;
    left: 15px;
    color: #c72092;
}

.login_form .right .confirm_password input {
    position: relative;
    left: 9%;
    width: 295px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    font-size: 15px;
}

::-webkit-input-placeholder {
    color: black;
    opacity: 0.7;
}

.login_form .right .forget {
    position: relative;
    left: 60%;
    margin: 6px 0 10px 0;
    cursor: pointer;
}

.login_form .right button {
    width: 350px;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #c72092, #6c14d0);
}

.login_form .right .loging_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.login_form .right .loging_icon a {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    border-radius: 50%;
    background: #f3f3f3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.login_form .right .loging_icon img {
    width: 20px;
    margin: 5px 5px;
}

.login_form .right .register_prompt {
    text-align: center;
    margin-top: 20px; /* Add some margin to separate it from the button */
}

.login_form .right .register-btn {
    width: 350px;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #c72092, #6c14d0);
    margin-top: 40px; /* Add margin for spacing */
}
